body{
    margin: 0;
}

div#sidebar {
    float: left;
    background: #222d32;
    width: 15%;
    height: 100%;
    position: fixed;
    overflow: auto;
}

div#content {
    float: right;
    width: 85%;
    height: 100%;
    display: table;
    position: relative;
}

div#loader {
    float: right;
    width: 85%;
    height: 100%;
    display: table;
}

div#loaderBig {
    float: right;
    width: 85%;
    height: 100%;
    display: table;
    position: relative;
}

div#notify {
    float: right;
    width: 85%;
    height: 100%;
    display: table;
}

li {
    list-style-type: none;
}

.welcome{
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.imgHome{
    float: right;
}

.score{
    text-align: center;
}

th{
    text-align: center;
}

.imgAway{
    float: left;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    padding: 8px;
}

td{
    text-align: center;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}

th {
    background-color: #6ab1e6;
    color: white;
}

a {
    text-decoration-line: unset;
    color: blue;
}

img#imgLoader {
    position: absolute;
    margin: auto;
    top: 93%;
    left: 0;
    bottom: 0;
    right: 0;
}

img#imgLoaderBig {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

p#txtNotify {
    position: absolute;
    text-align: center;
    top: 94%;
    left: 0;
    bottom: 0;
    right: 0;
}

div.popup{
    padding: 20px;
    max-width: 350px;
    width: 100% !important;
    background-color: #F7F7F7;
    margin: 0 auto;
    border-radius: 2px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    text-align: center;
}

#popupAdd{
    text-align: start;
}

div.popup h1{
    text-align: center;
}

input[type=button] {
    width: 100%;
    display: block;
    position: relative;
    cursor: pointer;
}

input[type=submit] {
    width: 100%;
    display: block;
    position: relative;
    cursor: pointer;
}

.popup input[type=text], input[type=password]{
    height: 44px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 10px;
    -webkit-appearance: none;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    /* border-radius: 2px; */
    padding: 0 8px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.submit {
    /* border: 1px solid #3079ed; */
    border: 0px;
    color: #fff;
    text-shadow: 0 1px rgba(0, 0, 0, 0.1);
    background-color: #4d90fe;
    padding: 17px 0px;
    font-size: 14px;
    /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.league {
    width: 100%;
    height: 25px;
    margin-bottom: 5px;
}

.name {
    float: left;
    width: 70%;
}

p {
    margin: 0;
}

.function.name {
    width: 29%;
}

.name {
    float: left;
    width: 70%;
}

a.add{
    margin-right: 10px;
}

a.disable {
    margin-right: 10px;
    opacity: 0.5;
    pointer-events: none;
}

h2{
    text-align: center;
}

.button-delete{
    padding: 30px;
    max-width: 350px;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
}

.button-delete input[type=button] {
    width: 47%;
    display: block;
    float: left;
    margin-right: 3%;
    position: relative;
}

#showError{
    margin: 0;
    color: red;
}

#pswd_info {
    position: absolute;
    bottom: 65px;
    right: 55px;
    width: 250px;
    padding: 15px;
    background: #fefefe;
    font-size: .875em;
    border-radius: 5px;
    box-shadow: 0 1px 3px #ccc;
    border: 1px solid #ddd;
}


#pswd_info h4 {
    margin:0 0 10px 0;
    padding:0;
    font-weight:normal;
}

#pswd_info::before {
    content: "\25B2";
    position:absolute;
    top:-12px;
    left:45%;
    font-size:14px;
    line-height:14px;
    color:#ddd;
    text-shadow:none;
    display:block;
}

.invalid {
    background:url(../images/invalid.png) no-repeat 0 50%;
    padding-left:22px;
    line-height:24px;
    color:#ec3f41;
}
.valid {
    background:url(../images/valid.png) no-repeat 0 50%;
    padding-left:22px;
    line-height:24px;
    color:#3a7d34;
}

#pswd_info {
    display:none;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    margin-bottom: 10px;
    float: right;
}

input[type="file"] {
    height: 26px;
    font-size: 16px;
    width: 84%;
    margin-bottom: 10px;
    -webkit-appearance: none;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    box-sizing: border-box;
    display: none;
}

.button-delete-news{
    padding: 30px;
    max-width: 350px;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
}

.button-delete-news input[type=button] {
    width: 47%;
    display: block;
    float: left;
    margin-right: 3%;
    position: relative;
}

#pagingNews li{
    float:left;
    margin: 3px;
    list-style: none
}

#pagingNews {
    float: right;
    padding-right: 35px;
}

#pagingUsers li{
    float:left;
    margin: 3px;
    list-style: none
}

#pagingUsers {
    float: right;
    padding-right: 35px;
}

#selectMatchDay {
    margin-bottom: 15px;
    margin-right: 50px;
    display: block;
    float: right;
    width: 15%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

@import url(http://fonts.googleapis.com/css?family=Roboto);

/****** LOGIN MODAL ******/
.loginmodal-container {
    padding: 30px;
    max-width: 350px;
    width: 100% !important;
    background-color: #F7F7F7;
    margin: 0 auto;
    text-align: center;
    border-radius: 2px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    font-family: roboto;
}

.loginmodal-container h1 {
    text-align: center;
    font-size: 1.8em;
    font-family: roboto;
}

.loginmodal-container input[type=submit] {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    position: relative;
}

.loginmodal-container input[type=text], input[type=password] {
    height: 44px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 10px;
    -webkit-appearance: none;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    /* border-radius: 2px; */
    padding: 0 8px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover, input[type=password]:hover {
    border: 1px solid #b9b9b9;
    border-top: 1px solid #a0a0a0;
    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginmodal-submit {
    /* border: 1px solid #3079ed; */
    border: 0px;
    color: #fff;
    text-shadow: 0 1px rgba(0,0,0,0.1);
    background-color: #4d90fe;
    padding: 17px 0px;
    font-family: roboto;
    font-size: 14px;
    /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.loginmodal-submit:hover {
    /* border: 1px solid #2f5bb7; */
    border: 0px;
    text-shadow: 0 1px rgba(0,0,0,0.3);
    background-color: #357ae8;
    /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.loginmodal-container a {
    text-decoration: none;
    color: #666;
    font-weight: 400;
    text-align: center;
    display: inline-block;
    opacity: 0.6;
    transition: opacity ease 0.5s;
}